<section class="slider">
    <div class="banner-slider wnr-slick-dots wnr-slick-arrow m-slide-0 mb-0">

        {{#each solvatechbannershome}}
        <div class="bnr-item bg-overlay valign">
            <div class="bg-img">
                <img src="{{img}}" alt="slide img">
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-xl-7">
                        <div class="bnr-content">
                            <span class="bnr-subtitle">{{subtitulo}}</span>
                            <h2 class="bnr-title">{{titulo}}</h2>
                            <p class="bnr-desc">{{{descripcion}}}</p>
                            <div class="bnr-btn">
                                <a href="javascript:;" class="wnr-btn btn-white btn-transparent"><span>Contact
                                        Us</span></a>
                                <a href="javascript:;" class="wnr-btn btn-primary">
                                    <span>Learn More</span>
                                    <i class="unicon-arrow-up-right"></i>
                                </a>
                            </div>
                        </div><!-- /.bnr-content -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.bnr-item -->
        {{/each}}

        {{!-- <div class="bnr-item bg-overlay valign">
            <div class="bg-img"><img src="{{assetBase}}/assets/images/slider/slide-01.jpg" alt="slide img"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-xl-7">
                        <div class="bnr-content">
                            <span class="bnr-subtitle">secure & clean code</span>
                            <h2 class="bnr-title">Excellent IT services for your success</h2>
                            <p class="bnr-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iusto
                                quo eveniet deleniti. Dolores iure laudantium non voluptatem assumenda debitis optio
                                nihil nostrum repudiandae nemo?</p>
                            <div class="bnr-btn">
                                <a href="javascript:;" class="wnr-btn btn-white btn-transparent"><span>Contact
                                        Us</span></a>
                                <a href="javascript:;" class="wnr-btn btn-primary"><span>Learn More</span><i
                                        class="unicon-arrow-up-right"></i></a>
                            </div>
                        </div><!-- /.slide-content -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="bnr-item bg-overlay valign">
            <div class="bg-img"><img src="{{assetBase}}/assets/images/slider/slide-02.jpg" alt="slide img"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-xl-7">
                        <div class="bnr-content">
                            <span class="bnr-subtitle">technology & it solutions</span>
                            <h2 class="bnr-title">IT Consulting Service for Your Business</h2>
                            <p class="bnr-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                                tempora, eos rem ex pariatur, non dolore quos temporibus facilis sequi sapiente et amet
                                deserunt illo.</p>
                            <div class="bnr-btn">
                                <a href="javascript:;" class="wnr-btn btn-white btn-transparent"><span>Contact
                                        Us</span></a>
                                <a href="javascript:;" class="wnr-btn btn-primary"><span>Learn More</span><i
                                        class="unicon-arrow-up-right"></i></a>
                            </div>
                        </div><!-- /.slide-content -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="bnr-item bg-overlay valign">
            <div class="bg-img"><img src="{{assetBase}}/assets/images/slider/slide-03.jpg" alt="slide img"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-xl-7">
                        <div class="bnr-content">
                            <span class="bnr-subtitle">end to end development</span>
                            <h2 class="bnr-title">Software App that Fits Your Needs</h2>
                            <p class="bnr-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
                                eligendi, assumenda aut iure explicabo, iste adipisci aliquid cupiditate ullam
                                recusandae doloremque quia laborum consectetur dolore?</p>
                            <div class="bnr-btn">
                                <a href="javascript:;" class="wnr-btn btn-white btn-transparent"><span>Contact
                                        Us</span></a>
                                <a href="javascript:;" class="wnr-btn btn-primary"><span>Learn More</span><i
                                        class="unicon-arrow-up-right"></i></a>
                            </div>
                        </div><!-- /.slide-content -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slide-item --> --}}
    </div><!-- /.carousel -->
</section><!-- /.slider -->