<section class="working-process space-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-center mb-55 mb-xs-35">
                    <span class="wnr-section-subtitle wow fadeInUp">{{solvatechworkingprocess.[0].subtitulo}}</span>
                    <h2 class="wnr-section-title mb-25 mb-xs-20 title-animation wow fadeInUp" data-wow-delay=".3s">
                        {{solvatechworkingprocess.[0].titulo}}</h2>
                </div>
            </div>
        </div>
        <div class="process-wrap">
            <div class="row">
                {{#each solvatechworkingprocesscards}}
                <div class="col-lg-3 col-md-6 col-12 wow fadeInUp">
                    <div class="process-card">
                        <div class="process-inner">
                            <div class="process-icon">
                                <i class="{{icon}}"></i>
                            </div>
                        </div>
                        <div class="process-content">
                            <h3 class="process-title">
                                <a href="javascript:void(0)">{{titulo}}</a>
                            </h3>
                            <p class="process-text">{{{descripcion}}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </div>
</section><!-- end .working-process-->