<!DOCTYPE html>
<html lang="en" data-theme-mode="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{renderHeadMeta}}
    {{!-- <title>Solvatech - IT Solution & Technology HTML Template</title> --}}
    {{!-- <meta name="description" content="Solvatech - IT Solution & Technology HTML Template"> --}}
    {{!-- <meta name="author" content="mohammedyasin"> --}}
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{{assetBase}}/assets/images/favicon.png">
    <!-- CSS here -->
    <link rel="stylesheet" href="{{assetBase}}/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="{{assetBase}}/assets/css/vendor/animate.min.css">
    <link rel="stylesheet" href="{{assetBase}}/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="{{assetBase}}/assets/css/plugins/slick-theme.css">
    <link rel="stylesheet" href="{{assetBase}}/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="{{assetBase}}/assets/css/vendor/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{{assetBase}}/assets/css/vendor/icons.css">
    <link rel="stylesheet" href="{{assetBase}}/assets/css/vendor/spacing.css">
    <link rel="stylesheet" href="{{assetBase}}/assets/css/plugins/nice-select.min.css">
    <link rel="stylesheet" href="{{assetBase}}/assets/css/main.css">
    <!-- <script src="{{assetBase}}/assets/js/set-themeMode.js"></script> -->


</head>

<body>
    {{!-- <h1>{{getUrlSettingData "site_name"}}</h1> --}}


    {{!-- sigue index y todo en orden. --}}