{{> solvatech/header }}
{{> solvatech/navbar }}

    <div class="breadcrumb-wrapper cover-bg" style="background-image: url('{{assetBase}}/assets/images/breadcrumb/breadcrumb-bg.jpg')">
        <div class="container">
            <div class="page-heading">
                <div class="breadcrumb-sub-title">
                    <h1 class="wow fadeInUp" data-wow-delay=".3s">Our Portfolio</h1>
                </div>
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                    <li><a href="./"><i class="bi bi-house-door"></i>Home</a></li>
                    <li><i class="bi bi-chevron-right"></i></li>
                    <li>Our Portfolio</li>
                </ul>
            </div>
        </div>
    </div><!-- end .breadcrumb-wrapper -->

    <main>
        <section class="project space-1 wnr-bg01">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title-center mb-40 mb-xs-35">
                            <span class="wnr-section-subtitle wow fadeInUp">Our Case Studies</span>
                            <h2 class="wnr-section-title mb-25 mb-xs-20 title-animation wow fadeInUp" data-wow-delay=".3s">Check Our Most Recent Project</h2>
                        </div>
                    </div>
                </div>
                <div class="project-tab masonary-menu">
                    <button data-filter="*" class="active">All </button>
                    <button data-filter=".c1">Web Design</button>
                    <button data-filter=".c2">App Development</button>
                    <button data-filter=".c3">Graphic Design</button>
                    <button data-filter=".c4">Seo</button>
                </div>
                <div class="projects-wrap">
                    <div class="row grid wow fadeInUp">
                    <div class="col-lg-4 col-sm-6 grid-item c2 c3">
                        <div class="project-item-wrap">
                            <div class="project-inner">
                                <div class="project-media"><img src="{{assetBase}}/assets/images/projects/project-img01.jpg" alt="project image"></div>
                                <div class="project-text">
                                    <h6 class="title"><a href="javascript:;">Web Design</a></h6>
                                    <span class="location"><i class="bi bi-geo-alt"></i> Aberdeen City, UK</span>
                                </div>
                                <div class="project-hover-content">
                                    <h6 class="title"><a href="javascript:;">Web Design</a></h6>
                                    <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse nam facere illum deserunt libero? Praesentium.</p>
                                    <a href="{{assetBase}}/assets/images/projects/project-img01.jpg" class="project-icon popup-image"><i class="icon-ui-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 grid-item c1 c3">
                        <div class="project-item-wrap">
                            <div class="project-inner">
                                <div class="project-media"><img src="{{assetBase}}/assets/images/projects/project-img02.jpg" alt="project image"></div>
                                <div class="project-text">
                                    <h6 class="title"><a href="javascript:;">Web Development</a></h6>
                                    <span class="location"><i class="bi bi-geo-alt"></i> Aberdeen City, UK</span>
                                </div>
                                <div class="project-hover-content">
                                    <h6 class="title"><a href="javascript:;">Web Development</a></h6>
                                    <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum natus, ipsam veniam aut dicta asperiores.</p>
                                    <a href="{{assetBase}}/assets/images/projects/project-img02.jpg" class="project-icon popup-image"><i class="icon-ui-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 grid-item c1 c4 c2">
                        <div class="project-item-wrap">
                            <div class="project-inner">
                                <div class="project-media"><img src="{{assetBase}}/assets/images/projects/project-img03.jpg" alt="project image"></div>
                                <div class="project-text">
                                    <h6 class="title"><a href="javascript:;">Graphic Design</a></h6>
                                    <span class="location"><i class="bi bi-geo-alt"></i> Aberdeen City, UK</span>
                                </div>
                                <div class="project-hover-content">
                                    <h6 class="title"><a href="javascript:;">Graphic Design</a></h6>
                                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sed necessitatibus natus quibusdam, eaque facere.</p>
                                    <a href="{{assetBase}}/assets/images/projects/project-img03.jpg" class="project-icon popup-image"><i class="icon-ui-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 grid-item c2 c3">
                        <div class="project-item-wrap">
                            <div class="project-inner">
                                <div class="project-media"><img src="{{assetBase}}/assets/images/projects/project-img04.jpg" alt="project image"></div>
                                <div class="project-text">
                                    <h6 class="title"><a href="javascript:;">Seo</a></h6>
                                    <span class="location"><i class="bi bi-geo-alt"></i> Aberdeen City, UK</span>
                                </div>
                                <div class="project-hover-content">
                                    <h6 class="title"><a href="javascript:;">Seo</a></h6>
                                    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem dolorem commodi et optio. Officia, amet!</p>
                                    <a href="{{assetBase}}/assets/images/projects/project-img04.jpg" class="project-icon popup-image"><i class="icon-ui-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 grid-item c1 c4 c2">
                        <div class="project-item-wrap">
                            <div class="project-inner">
                                <div class="project-media"><img src="{{assetBase}}/assets/images/projects/project-img05.jpg" alt="project image"></div>
                                <div class="project-text">
                                    <h6 class="title"><a href="javascript:;">Graphic Design</a></h6>
                                    <span class="location"><i class="bi bi-geo-alt"></i> Aberdeen City, UK</span>
                                </div>
                                <div class="project-hover-content">
                                    <h6 class="title"><a href="javascript:;">Graphic Design</a></h6>
                                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem accusamus suscipit, inventore libero exercitationem ut!</p>
                                    <a href="{{assetBase}}/assets/images/projects/project-img05.jpg" class="project-icon popup-image"><i class="icon-ui-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 grid-item c4 c1">
                        <div class="project-item-wrap">
                            <div class="project-inner">
                                <div class="project-media"><img src="{{assetBase}}/assets/images/projects/project-img06.jpg" alt="project image"></div>
                                <div class="project-text">
                                    <h6 class="title"><a href="javascript:;">Web Development</a></h6>
                                    <span class="location"><i class="bi bi-geo-alt"></i> Aberdeen City, UK</span>
                                </div>
                                <div class="project-hover-content">
                                    <h6 class="title"><a href="javascript:;">Web Development</a></h6>
                                    <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A dicta consequuntur veritatis, expedita provident consectetur!</p>
                                    <a href="{{assetBase}}/assets/images/projects/project-img06.jpg" class="project-icon popup-image"><i class="icon-ui-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 grid-item c2 c3">
                        <div class="project-item-wrap">
                            <div class="project-inner">
                                <div class="project-media"><img src="{{assetBase}}/assets/images/projects/project-img07.jpg" alt="project image"></div>
                                <div class="project-text">
                                    <h6 class="title"><a href="javascript:;">App Development</a></h6>
                                    <span class="location"><i class="bi bi-geo-alt"></i> Aberdeen City, UK</span>
                                </div>
                                <div class="project-hover-content">
                                    <h6 class="title"><a href="javascript:;">App Development</a></h6>
                                    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis rerum aliquam deleniti, blanditiis ipsa sapiente.</p>
                                    <a href="{{assetBase}}/assets/images/projects/project-img07.jpg" class="project-icon popup-image"><i class="icon-ui-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 grid-item c1 c3">
                        <div class="project-item-wrap">
                            <div class="project-inner">
                                <div class="project-media"><img src="{{assetBase}}/assets/images/projects/project-img08.jpg" alt="project image"></div>
                                <div class="project-text">
                                    <h6 class="title"><a href="javascript:;">Seo</a></h6>
                                    <span class="location"><i class="bi bi-geo-alt"></i> Aberdeen City, UK</span>
                                </div>
                                <div class="project-hover-content">
                                    <h6 class="title"><a href="javascript:;">Seo</a></h6>
                                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, magnam? Cum est voluptate sunt itaque.</p>
                                    <a href="{{assetBase}}/assets/images/projects/project-img08.jpg" class="project-icon popup-image"><i class="icon-ui-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 grid-item c1 c4 c2">
                        <div class="project-item-wrap">
                            <div class="project-inner">
                                <div class="project-media"><img src="{{assetBase}}/assets/images/projects/project-img09.jpg" alt="project image"></div>
                                <div class="project-text">
                                    <h6 class="title"><a href="javascript:;">Web Design</a></h6>
                                    <span class="location"><i class="bi bi-geo-alt"></i> Aberdeen City, UK</span>
                                </div>
                                <div class="project-hover-content">
                                    <h6 class="title"><a href="javascript:;">Web Design</a></h6>
                                    <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias eos accusantium quo, quas consequatur exercitationem.</p>
                                    <a href="{{assetBase}}/assets/images/projects/project-img09.jpg" class="project-icon popup-image"><i class="icon-ui-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section><!-- end .portfolio-->
    </main>

    {{> solvatech/footer }}
