{{> solvatech/header }}
{{> solvatech/navbar }}
    
    <div class="breadcrumb-wrapper cover-bg" style="background-image: url('{{assetBase}}/assets/images/breadcrumb/breadcrumb-bg.jpg')">
        <div class="container">
            <div class="page-heading">
                <div class="breadcrumb-sub-title">
                    <h1 class="wow fadeInUp" data-wow-delay=".3s">Our Team</h1>
                </div>
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                    <li><a href="./"><i class="bi bi-house-door"></i>Home</a></li>
                    <li><i class="bi bi-chevron-right"></i></li>
                    <li>Our Team</li>
                </ul>
            </div>
        </div>
    </div><!-- end .breadcrumb-wrapper -->

    <main>
        <section class="space-1 wnr-bg01">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title-center mb-40 mb-xs-35">
                            <span class="wnr-section-subtitle wow fadeInUp">Our Expert Team</span>
                            <h2 class="wnr-section-title mb-25 mb-xs-20 title-animation wow fadeInUp" data-wow-delay=".3s">Meet Our Professional Team Members</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-3 col-lg-3 col-md-6 m-b30">
                        <div class="team-member-wrap">
                            <div class="item-inner">
                                <div class="media-box">
                                    <div class="media"><a href="team-details.html"><img src="{{assetBase}}/assets/images/team/team_01.jpg" alt="Image"></a></div>
                                    <div class="social-share">
                                        <span class="icon-share"><i class="bi bi-share"></i></span>
                                        <div class="social-links">
                                            <a href="javascript:;"><i class="icon-ui-instagram"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-pinterest"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-twitter"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="info">
                                        <h4 class="name"><a href="team-details.html">David Parker</a></h4>
                                        <span class="designation">Master Plumber</span>
                                    </div> 
                                    <a href="team-details.html" class="btn-link"><i class="unicon-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end .col-xxl-3 col-lg-3 col-md-6 -->

                    <div class="col-xxl-3 col-lg-3 col-md-6 m-b30">
                        <div class="team-member-wrap">
                            <div class="item-inner">
                                <div class="media-box">
                                    <div class="media"><a href="team-details.html"><img src="{{assetBase}}/assets/images/team/team_02.jpg" alt="Image"></a></div>
                                    <div class="social-share">
                                        <span class="icon-share"><i class="bi bi-share"></i></span>
                                        <div class="social-links">
                                            <a href="javascript:;"><i class="icon-ui-instagram"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-pinterest"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-twitter"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="info">
                                        <h4 class="name"><a href="team-details.html">David Parker</a></h4>
                                        <span class="designation">Master Plumber</span>
                                    </div> 
                                    <a href="team-details.html" class="btn-link"><i class="unicon-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end .col-xxl-3 col-lg-3 col-md-6 -->

                    <div class="col-xxl-3 col-lg-3 col-md-6 m-b30">
                        <div class="team-member-wrap">
                            <div class="item-inner">
                                <div class="media-box">
                                    <div class="media"><a href="team-details.html"><img src="{{assetBase}}/assets/images/team/team_03.jpg" alt="Image"></a></div>
                                    <div class="social-share">
                                        <span class="icon-share"><i class="bi bi-share"></i></span>
                                        <div class="social-links">
                                            <a href="javascript:;"><i class="icon-ui-instagram"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-pinterest"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-twitter"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="info">
                                        <h4 class="name"><a href="team-details.html">David Parker</a></h4>
                                        <span class="designation">Master Plumber</span>
                                    </div> 
                                    <a href="team-details.html" class="btn-link"><i class="unicon-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end .col-xxl-3 col-lg-3 col-md-6 -->

                    <div class="col-xxl-3 col-lg-3 col-md-6 m-b30">
                        <div class="team-member-wrap">
                            <div class="item-inner">
                                <div class="media-box">
                                    <div class="media"><a href="team-details.html"><img src="{{assetBase}}/assets/images/team/team_04.jpg" alt="Image"></a></div>
                                    <div class="social-share">
                                        <span class="icon-share"><i class="bi bi-share"></i></span>
                                        <div class="social-links">
                                            <a href="javascript:;"><i class="icon-ui-instagram"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-pinterest"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-twitter"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="info">
                                        <h4 class="name"><a href="team-details.html">David Parker</a></h4>
                                        <span class="designation">Master Plumber</span>
                                    </div> 
                                    <a href="team-details.html" class="btn-link"><i class="unicon-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end .col-xxl-3 col-lg-3 col-md-6 -->

                    <div class="col-xxl-3 col-lg-3 col-md-6 m-b30">
                        <div class="team-member-wrap">
                            <div class="item-inner">
                                <div class="media-box">
                                    <div class="media"><a href="team-details.html"><img src="{{assetBase}}/assets/images/team/team_05.jpg" alt="Image"></a></div>
                                    <div class="social-share">
                                        <span class="icon-share"><i class="bi bi-share"></i></span>
                                        <div class="social-links">
                                            <a href="javascript:;"><i class="icon-ui-instagram"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-pinterest"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-twitter"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="info">
                                        <h4 class="name"><a href="team-details.html">David Parker</a></h4>
                                        <span class="designation">Master Plumber</span>
                                    </div> 
                                    <a href="team-details.html" class="btn-link"><i class="unicon-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end .col-xxl-3 col-lg-3 col-md-6 -->

                    <div class="col-xxl-3 col-lg-3 col-md-6 m-b30">
                        <div class="team-member-wrap">
                            <div class="item-inner">
                                <div class="media-box">
                                    <div class="media"><a href="team-details.html"><img src="{{assetBase}}/assets/images/team/team_05.jpg" alt="Image"></a></div>
                                    <div class="social-share">
                                        <span class="icon-share"><i class="bi bi-share"></i></span>
                                        <div class="social-links">
                                            <a href="javascript:;"><i class="icon-ui-instagram"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-pinterest"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-twitter"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="info">
                                        <h4 class="name"><a href="team-details.html">David Parker</a></h4>
                                        <span class="designation">Master Plumber</span>
                                    </div> 
                                    <a href="team-details.html" class="btn-link"><i class="unicon-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end .col-xxl-3 col-lg-3 col-md-6 -->

                    <div class="col-xxl-3 col-lg-3 col-md-6 m-b30">
                        <div class="team-member-wrap">
                            <div class="item-inner">
                                <div class="media-box">
                                    <div class="media"><a href="team-details.html"><img src="{{assetBase}}/assets/images/team/team_01.jpg" alt="Image"></a></div>
                                    <div class="social-share">
                                        <span class="icon-share"><i class="bi bi-share"></i></span>
                                        <div class="social-links">
                                            <a href="javascript:;"><i class="icon-ui-instagram"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-pinterest"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-twitter"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="info">
                                        <h4 class="name"><a href="team-details.html">David Parker</a></h4>
                                        <span class="designation">Master Plumber</span>
                                    </div> 
                                    <a href="team-details.html" class="btn-link"><i class="unicon-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end .col-xxl-3 col-lg-3 col-md-6 -->

                    <div class="col-xxl-3 col-lg-3 col-md-6 m-b30">
                        <div class="team-member-wrap">
                            <div class="item-inner">
                                <div class="media-box">
                                    <div class="media"><a href="team-details.html"><img src="{{assetBase}}/assets/images/team/team_02.jpg" alt="Image"></a></div>
                                    <div class="social-share">
                                        <span class="icon-share"><i class="bi bi-share"></i></span>
                                        <div class="social-links">
                                            <a href="javascript:;"><i class="icon-ui-instagram"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-pinterest"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-twitter"></i></a>
                                            <a href="javascript:;"><i class="icon-ui-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="info">
                                        <h4 class="name"><a href="team-details.html">David Parker</a></h4>
                                        <span class="designation">Master Plumber</span>
                                    </div> 
                                    <a href="team-details.html" class="btn-link"><i class="unicon-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- end .col-xxl-3 col-lg-3 col-md-6 -->

                </div>
            </div>
        </section><!-- end .our-team-->
    </main>


{{> solvatech/footer }}