{{> solvatech/header }}
{{> solvatech/navbar }}

{{> solvatech/sectionBanners }}

<main>

    <section class="space-1 contact-info wnr-bg01">
        <div class="container">
            <div class="contact-info-box">
                <div class="row">
                    {{#each solvatechcontactcards}}
                    <div class="col-md-6 col-lg-4">
                        <div class="contact-box">
                            <div class="contact-box-wrap">
                                <div class="contact-icon">
                                    <i class="{{icon}}"></i>
                                </div>
                                <div class="info-content">
                                    <h4 class="info-title">{{titulo}}</h4>
                                    <div class="info-text">
                                        {{{descripcion}}}
                                    </div>
                                </div>
                            </div>
                            <!-- end .contact-box-wrap -->
                        </div>
                        <!-- end .contact-box-->
                    </div>
                    {{/each}}

                </div>
                <!-- end .row-->
            </div>
            <!-- end .contact-info-box-->
        </div>
        <!-- end .container-->
    </section><!-- end .contact-info -->

    <section class="space-1 contact-us">
        <div class="contact-content">
            <div class="container">
                <div class="row">
                    <div class="contact-panel col-lg-12 mx-auto">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="contact-card contact-card-left">
                                    <div class="contact-body">
                                        <div class="info-box">
                                            <div class="section-title-wrapper mb-30 mb-xs-20">
                                                <span
                                                    class="wnr-section-subtitle mb-12 wow fadeInUp">{{solvatechcontact.[0].subtitulo}}</span>
                                                <h2 class="wnr-section-title mb-25 mb-xs-20 wow fadeInUp"
                                                    data-wow-delay=".3s">{{solvatechcontact.[0].titulo}}</h2>
                                            </div>
                                            {{#each solvatechcontactcards}}
                                            <div class="info-box-wrap">
                                                <div class="info-icon">
                                                    <i class="{{icon}}"></i>
                                                </div>
                                                <div class="info-content">
                                                    <h4 class="info-title">{{titulo}}</h4>
                                                    <div class="info-text">
                                                        {{{descripcion}}}
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div><!-- end .contact-body -->
                                </div><!-- end .contact-card-->
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="contact-card contact-card-right wow fadeInRight" data-wow-delay=".3s">
                                    <div class="contact-body">
                                        <h3 class="card-heading">{{solvatechcontact.[0].titulo_formulario}}</h3>
                                        <p class="card-desc">{{{ solvatechcontact.[0].descripcion_formulario}}} </p>
                                        <form action="php/form-process.php" name="contactus" method="post"
                                            id="contact-form" class="contact-form">
                                            <div class="form-grid">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="input-box">
                                                            <span class="icon-form"><i class="bi bi-person"></i></span>
                                                            <input type="text" name="name" placeholder="Your Name">
                                                        </div>
                                                        <span class="error_msg" id="name_error"></span>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="input-box">
                                                            <span class="icon-form"><i
                                                                    class="bi bi-envelope"></i></span>
                                                            <input type="email" name="email"
                                                                placeholder="Email Address">
                                                        </div>
                                                        <span class="error_msg" id="email_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-grid">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="input-box">
                                                            <span class="icon-form"><i
                                                                    class="bi bi-telephone"></i></span>
                                                            <input type="tel" name="phone" pattern="[0-9\-]*"
                                                                placeholder="Contact Number">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="input-box h-75">
                                                            <span class="icon-form"><i class="bi bi-tools"></i></span>
                                                            <select name="subject">
                                                                <option value="">Select Service</option>
                                                                <option value="web design">Web Design</option>
                                                                <option value="graphic">Graphic</option>
                                                                <option value="app development">App Development</option>
                                                            </select>
                                                        </div>
                                                        <span class="error_msg" id="subject_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-grid">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="input-box">
                                                            <span class="icon-form msg-icon"><i
                                                                    class="bi bi-chat-left-text"></i></span>
                                                            <textarea cols="30" rows="3" name="message"
                                                                placeholder="Write Message"></textarea>
                                                            <span class="error_msg" id="message_error"></span>
                                                        </div>
                                                        <div class="mailsendbtn btn-box">
                                                            <button type="submit" name="contactus"
                                                                class="wnr-btn btn-secondary w-100"><span>Submit</span>
                                                                <i class="unicon-arrow-up-right"></i></button>
                                                            <div class="loading"><img class="img-fluid"
                                                                    src="{{assetBase}}/assets/images/ajax-loader.gif"
                                                                    alt="loading"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="response-msg"></div>
                                    </div><!-- end .contact-body -->
                                </div><!-- end .contact-card-->
                            </div>
                        </div>
                        <!-- end .row-->
                    </div>
                    <!-- end .contact-panel-->
                </div>
                <!-- end .row-->
            </div>
            <!-- end .container-->
        </div>
    </section><!-- end .contact -->
</main>


{{> solvatech/footer }}