{{> solvatech/header }}
{{> solvatech/navbar }}

{{> solvatech/sectionBanners }}

<main>
    <section class="space-1 wnr-bg01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center mb-40 mb-xs-35">
                        <span class="wnr-section-subtitle wow fadeInUp">{{solvatechservices.[0].subtitulo}}</span>
                        <h2 class="wnr-section-title mb-25 mb-xs-20 title-animation wow fadeInUp" data-wow-delay=".3s">
                            {{solvatechservices.[0].titulo}}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                
                {{#each solvatechservicescards}}
                <div class="col-xxl-4 col-lg-4 col-md-6 m-b30">
                    <div class="service-card-wrap">
                        <div class="service-card-inner">
                            <div class="service-icon"><i class="{{icon}}"></i></div>
                            <div class="service-content">
                                <h6 class="title"><a href="solvatechservicescards/{{ id }}">{{titulo}}</a></h6>
                                <p class="text">{{subtitulo}}</p>
                                <a href="solvatechservicescards/{{ id }}"
                                    class="wnr-btn btn-secondary btn-link btn-underlined read-btn"><span>Read
                                        More</span> <i class="unicon-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end .col-xxl-4 col-lg-4 col-md-6 -->
                {{/each}}

            </div>
        </div>
    </section><!-- end .services-->
</main>


{{> solvatech/footer }}