<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Index - Append Bootstrap Template</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{{assetBase}}/assets/img/favicon.png" rel="icon" />
    <link href="{{assetBase}}/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="{{assetBase}}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{assetBase}}/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="{{assetBase}}/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="{{assetBase}}/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="{{assetBase}}/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="{{assetBase}}/assets/css/main.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Append
  * Template URL: https://Solvatech.com/append-bootstrap-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: Solvatech.com
  * License: https://Solvatech.com/license/
  ======================================================== -->
</head>

<body class="index-page">

    {{!-- todo esta en orden de como tienen que ser las vistas --}}

    {{!-- sigue navbar.hbs --}}
    {{> append/navbar }}

    <main class="main">

        {{> append/hero }}
        {{> append/clients }}
        {{> append/about }}
        {{> append/stats }}
        {{> append/services }}
        {{> append/features }}
        {{> append/portfolio }}
        {{> append/pricing }}
        {{> append/faq }}
        {{> append/team }}
        {{> append/call-to-action }}
        {{> append/testimonials }}
        {{> append/recent-posts }}
        {{> append/contact }}

    </main>

    {{> append/footer }}

    <!-- /Hero Section -->

    <!-- /Clients Section -->

    <!-- /About Section -->

    <!-- /Stats Section -->

    <!-- /Services Section -->

    <!-- /Features Section -->

    <!-- /Portfolio Section -->

    <!-- /Pricing Section -->

    <!-- /Faq Section -->

    <!-- /Team Section -->

    <!-- /Call To Action Section -->

    <!-- /Testimonials Section -->

    <!-- /Recent Posts Section -->

    <!-- /Contact Section -->

    {{!-- el main termina en footer.hbs, esta ahi. --}}